@()


@defining(play.core.PlayVersion.current) { version =>
<style>
  td, th {
  border: 1px solid #ddd;
  padding: 8px;
  }

  tr:nth-child(even){background-color: #f2f2f2;}

  tr:hover {background-color: #ddd;}

  th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
  }</style>
<section id="content">
  <div class="wrapper doc">
    <article>
      <h2>Bienvenido al recetario API REST del amster MIMO!</h2>
      <p>Este es el proyecto creado por Eric Gómez Granero para el ejercicio de evaluación planteado en la asignatura CLOUD del master MIMO de la UPSA</p>

      <h1>Posibles llamadas a la API REST para el modelo <span style="color:#4CAF50;">Receta</span></h1>
      <table >
        <th>Llamada</th><th>Parámetros</th>
        <tr>
          <td>POST /receta</td><td>nombre:String, descripcion:String</td>
        </tr>
        <tr>
          <td>PUT /receta</td><td>nombre:String, nombre_nuevo:String, descripcion_nuevo:String, autor_nuevo:String, tipo_nuevo:String, ingrediente_nuevo:String</td>
        </tr>
        <tr>
          <td>DELETE /receta</td><td>nombre:String</td>
        </tr>
        <tr>
          <td>GET /receta</td><td>nombre:String</td>
        </tr>
        <tr>
          <td>GET /recetaById</td><td>id:Integer</td>
        </tr>
        <tr>
          <td>GET /recetas</td><td>Sin parámetros</td>
        </tr>
      </table>

      <h1>Posibles llamadas a la API REST para el modelo <span style="color:#4CAF50;">Autor</span></h1>
      <table >
        <th>Llamada</th><th>Parámetros</th>
        <tr>
          <td>POST /autor</td><td>nombre:String, apellidos:String, ciudad_natal:String</td>
        </tr>
        <tr>
          <td>PUT /autor</td><td>nombre:String, nombre_nuevo:String, apellido_nuevo:String, ciudad_natal_nuevo:String, nombre_receta_nuevo:String</td>
        </tr>
        <tr>
          <td>DELETE /autor</td><td>nombre:String</td>
        </tr>
        <tr>
          <td>GET /autor</td><td>nombre:String</td>
        </tr>
        <tr>
          <td>GET /autorById</td><td>id:Integer</td>
        </tr>
        <tr>
          <td>GET /autores</td><td>Sin parámetros</td>
        </tr>
      </table>

      <h1>Posibles llamadas a la API REST para el modelo <span style="color:#4CAF50;">Tipo</span></h1>
      <table >
        <th>Llamada</th><th>Parámetros</th>
        <tr>
          <td>POST /tipo</td><td>nombre_tipo:String, descripcion:String</td>
        </tr>
        <tr>
          <td>PUT /tipo</td><td>nombre_tipo:String, nombre_tipo_nuevo:String, descripcion_nuevo:String</td>
        </tr>
        <tr>
          <td>DELETE /tipo</td><td>nombre:String</td>
        </tr>
        <tr>
          <td>GET /tipo</td><td>nombre:String</td>
        </tr>
        <tr>
          <td>GET /tipoById</td><td>id:Integer</td>
        </tr>
        <tr>
          <td>GET /tipos</td><td>Sin parámetros</td>
        </tr>
      </table>
      <h1>Posibles llamadas a la API REST para el modelo <span style="color:#4CAF50;">Ingrediente</span></h1>
      <table >
        <th>Llamada</th><th>Parámetros</th>
        <tr>
          <td>POST /ingrediente</td><td>nombre:String, familia:String</td>
        </tr>
        <tr>
          <td>PUT /ingrediente</td><td>nombre:String, nombre_nuevo:String, familia_nuevo:String</td>
        </tr>
        <tr>
          <td>DELETE /ingrediente</td><td>nombre:String</td>
        </tr>
        <tr>
          <td>GET /ingrediente</td><td>nombre:String</td>
        </tr>
        <tr>
          <td>GET /ingredienteById</td><td>id:Integer</td>
        </tr>
        <tr>
          <td>GET /ingredientes</td><td>Sin parámetros</td>
        </tr>
      </table>

       </article>
    <aside>

    </aside>
  </div>
</section>
}
